/* Stili generali */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f5f5f5; /* Testo chiaro */
    background-color: #2b2b2b; /* Grigio molto scuro */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; /* Decrease the top and bottom padding */
    background-color: #1a1a1a; /* Sfondo scuro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5; /* Testo chiaro */
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: url('sfondo_principale.webp') no-repeat center center/cover;
    color: #f5f5f5; /* Testo chiaro */
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity for better text contrast */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 48px;
    margin: 0 0 20px;
}

.hero-content p {
    font-size: 24px;
    margin: 0 0 40px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007aff;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.benefits, .testimonials, .final-cta {
    padding: 60px 20px;
    text-align: center;
    margin: 0px 0; /* Spazio tra le sezioni */
    opacity: 1;
    transform: translateY(0); /* Increase initial translation */
    background-color: #1a1a1a; /* Sfondo scuro */
}

.benefit-cards, .testimonial-slider {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; /* Non permettere il wrapping degli elementi */
    gap: 20px;
}

.benefit-card, .testimonial {
    background-color: #333; /* Sfondo scuro */
    color: #f5f5f5; /* Testo chiaro */
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 30%; /* Adatta le dimensioni dei contenitori a circa 1/3 del contenitore */
    margin: 10px; /* Margine orizzontale tra i riquadri */
    opacity: 1;
    transform: translateY(0); /* Increase initial translation */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Aggiungi la transizione per l'animazione */
}

.features {
    padding: 30px 20px;
    text-align: center;
    margin: 40px 0; /* Spazio tra le sezioni */
    opacity: 1;
    transform: translateY(0); /* Increase initial translation */
    background-color: #333; /* Sfondo scuro */
    display: flex;
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center; /* Centra gli elementi figli orizzontalmente */
    background-image: url('sfondo_secondario.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%; /* Imposta la larghezza al 100% */
    max-width: 800px; /* Opzionale: imposta una larghezza massima per controllare il layout */
    background-color: #333; 
    color: #f5f5f5; /* Testo chiaro */
    border-radius: 20px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0); /* Aumenta la traduzione iniziale */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Aggiungi la transizione per l'animazione */
    border: 1px solid #333; /* Contorno più sottile */
    box-sizing: border-box; /* Include padding e bordi nella larghezza totale */
    margin-bottom: 20px; /* Aggiungi spazio tra i riquadri */
}

.feature-image {
    width: 40%; /* Imposta una larghezza fissa per l'immagine */
    max-height: 150px; /* Limita l'altezza dell'immagine */
    flex-direction: column;
    text-align: center;
    margin-right: 40px; /* Spazio tra l'immagine e il testo */
    box-sizing: border-box; /* Include padding e bordi nella larghezza totale */
}

.feature-image img {
    max-width: 100%;
    max-height: 150px; /* Mantiene l'altezza dell'immagine */
    border-radius: 10px;
    height: auto; /* Mantiene le proporzioni dell'immagine */
}

.feature-text {
    width: 60%; /* Imposta la larghezza del testo al 60% */
    text-align: left;
    box-sizing: border-box; /* Include padding e bordi nella larghezza totale */
}

.final-cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Occupa l'intera larghezza */
}

.final-cta {
    display: flex;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
    opacity: 1;
    transform: translateY(0);
    background-color: #113152;
    color: #fff;
    border-radius: 20px;
}

/*on hover effect*/
.benefit-card:hover, .testimonial:hover, .feature:hover,.center-wrapper:hover {
    opacity: 0.8;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

footer {
    padding: 20px 40px;
    background-color: #1a1a1a; /* Sfondo scuro */
    color: #f5f5f5; /* Testo chiaro */
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #f5f5f5; /* Testo chiaro */
}

.social-media {
    margin-top: 20px;
    /* Aggiungi il CSS per le icone social media */
}

.contacts {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    margin: 40px 0; /* Spazio tra le sezioni */
    opacity: 1;
    transform: translateY(0); /* Increase initial translation */
    background-image: url('sfondo_secondario.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.contact-form, .contact-details {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3; /* Sfondo grigio chiaro */
    justify-content: center;
    padding: 60px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    color: #2b2b2b; /* Testo scuro */
    margin-bottom: 20px; /* Aggiungi spazio tra i riquadri */
    position: relative;
    z-index: 1; /* Assicura che il modulo sia sopra l'immagine di sfondo */
}

.contact-form form {
    width: 100%;
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: center;
    margin-bottom: 15px;
    justify-content: space-around;
    background-color: #f5f5f5;
    color: #2b2b2b;
}

.contact-form button {
    align-self: center;
    padding: 10px 20px;
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-details p {
    margin: 10px 0;
    align-self: center;
}

.contact-details a {
    color: #007aff;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* Stili per il contenitore del modulo */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Stili generali per i campi del modulo */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
}

/* Stili specifici per i campi input */
.form-container input[type="text"],
.form-container input[type="email"] {
    height: 40px;
}

/* Stili specifici per il campo textarea */
.form-container textarea {
    height: 100px;
    resize: vertical;
}

/* Stili per il bottone di invio */
.form-container button[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center; /* Centra il bottone nel contenitore */
}

.form-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Stili per i label */
.form-container label {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
}

/* Sezione Servizi */
section#servizi {
    background: #1a1a1a; /* Sfondo scuro */
    padding: 60px 20px;
    text-align: center;
    margin: 0px 0; /* Spazio tra le sezioni */
    opacity: 1;
    transform: translateY(0); /* Increase initial translation */
    color: #f5f5f5; /* Testo chiaro */
}

.servizio {
    background-color: #333; /* Sfondo scuro */
    color: #f5f5f5; /* Testo chiaro */
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 30%; /* Adatta le dimensioni dei contenitori a circa 1/3 del contenitore */
    margin: 20px; /* Margine orizzontale tra i riquadri */
    opacity: 1;
    transform: translateY(0); /* Increase initial translation */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Aggiungi la transizione per l'animazione */
    text-align: center;
    list-style: none;
}

.servizio h3 {
    color: #f5f5f5;
    margin-bottom: 10px;
    text-align: center;
}

.servizio p {
    margin: 0;
    line-height: 1.6;
    text-align: left;
}

/* Media Queries per Mobile */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row; /* Imposta la direzione di flex a row per allineare logo e nav in una riga */
        justify-content: space-between; /* Distribuisce lo spazio tra il logo e i link di navigazione */
        align-items: center; /* Allinea verticalmente al centro */
        padding: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: row; /* Mantiene i link di navigazione in una riga */
        gap: 10px;
        list-style: none; /* Rimuove i punti elenco */
        margin: 0; /* Rimuove il margine */
        padding: 0; /* Rimuove il padding */
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 16px;
        flex-direction: column;
    }

    .benefit-cards, .testimonial-slider {
        flex-direction: column;
        gap: 10px;
    }

    .feature {
        flex-direction: column;
        align-items: center; /* Centra gli elementi figli orizzontalmente */
        text-align: center; /* Centra il testo all'interno del riquadro */
        margin: auto;
        width: 90%; /* Imposta la larghezza al 90% */
        box-sizing: border-box; /* Include padding e bordi nella larghezza totale */
        margin-bottom: 20px; /* Aggiungi spazio tra i riquadri */
    }

    .feature-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        flex-direction: column;
        box-sizing: border-box; /* Include padding e bordi nella larghezza totale */
    }

    .feature-text {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box; /* Include padding e bordi nella larghezza totale */
    }

    .contact-form, .contact-details {
        padding: 20px;
        flex-direction: column;
        margin-bottom: 20px; /* Aggiungi spazio tra i riquadri */
        width: 90%; /* Imposta la larghezza al 90% */
    }

    .contact-form input, .contact-form textarea {
        padding: 10px;
        flex-direction: column;
        box-sizing: border-box;
    }

    .contact-form button {
        padding: 10px;
        font-size: 14px;
        flex-direction: column;
    }
}
